<h1>Minhas tarefas</h1>

<ul>
  <% @tasks.each do |task| %>
  <p>
  <%= check_box_tag :completed, nil, checked: false %>
      <%= link_to(task.title , task_path(task)) %>
      <%= link_to(content_tag(:i, nil, class: 'fas fa-trash'),
      task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } ) %>
    </p>
  <% end %>
</ul>

<%= link_to("Create new task" , new_task_path) %>
